.color-box {
    width:100px;
    height:100px;
    border:2px solid #ccc;
    margin: 20px auto 0 ;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, 
        #b3d9ff, 
        #ffb3c6,  
        #fff1a8,  
        #b6f2c1,  
        #d9d9d9    
    );
    background-size: 400% 400%;
    animation: bgAnimation 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 @keyframes bgAnimation {
    0%{ background-position: 0% 50%; }
    50%{ background-position: 100% 50%; }
    100%{ background-position: 0% 50%; }
}

.container{
    width: 350px;
    background: rgba(255, 255, 255, 0.65);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.10);
    backdrop-filter: blur(10px);
    text-align: center;
    color: #333;
}

h1{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;
    color: #444;
}

input[type="color"]{
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 15px;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

#colorName{
    font-weight: 600;
    color: #555;
}

.color-box{
    width: 100%;
    height: 120px;
    background: #ff0000;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.4s;
}


